{% extends "index.html" %}

{% block content %}

<h1 class="my-4">Просмотр задачи</h1>   
    <div class="card">
      <div class="card-header bg-secondary text-white">
        <h2>{{ task.name }}</h2>
      </div>
      <div class="card-body bg-light">
        <p>{{ task.description }}</p>
        <hr>
        <div class="container">
          <div class="row p-1">
            <div class="col">Автор</div>
            <div class="col">{{ task.description }}</div>
          </div>
          <div class="row p-1">
            <div class="col">Исполнитель</div>
            <div class="col">{{ task.worker }}</div>
          </div>
          <div class="row p-1">
            <div class="col">Статус</div>
            <div class="col">{{ task.status }}</div>
          </div>
          <div class="row p-1">
            <div class="col">Дата создания</div>
            <div class="col">{{ task.date_joined }}</div>
          </div>
          <!-- <div class="row p-1">
            <div class="col">
              <h6>Метки:</h6>
              <ul>
                
                  <li>фвфы</li>
                
                  <li>ad!11</li>
                
                  <li>Аргентина Манит Негра</li>
                
              </ul>
            </div>
          </div> -->
          <div class="row p-1">
            <div class="col">
              <a href="https://python-task-manager-ru.hexlet.app/tasks/5/update/">Изменить</a>
              <br>
              <a href="https://python-task-manager-ru.hexlet.app/tasks/5/delete/">Удалить</a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}